.MenuPaginas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:80px;
    margin-top: 200px;
}

#botao-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 40px;
  }
  
  .MenuPaginas-container .ativa {
    border: 3px solid rgb(42, 99, 255);
    background-color: #282828;
    color: rgb(42, 99, 255);
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }